{% extends 'base/base.html' %}
{% load static %}
{% block extcss %}
   <link rel="stylesheet" href="{% static 'mine/css/login.css' %}">
{% endblock %}
{% block title %}
    爱鲜峰 | 登陆
{% endblock %}

{% block content %}
     <div class="login">
    <div class="close"><a href="#" class="glyphicon glyphicon-remove"></a> </div>
        <form action="#" method="post">
            <div class="input-group">
                <div>
                    账号<input type="text" placeholder="账号长度为6～12位字符" style="width: 16.1rem">
                </div>
                <div>
                    密码<input type="text" placeholder="账号长度为6～12位字符" style="width: 16.1rem">
                </div>
                <div>
                    <button>登陆</button>
                </div>
            </div>
        </form>
     </div>
{% endblock %}